body {
  background-color: aliceblue;
}

#body-title {
  margin-top: 3em;
  margin-bottom: 5em;
  color:blue;
  text-align: center;
}

#make-your-sammie {
  font-size: 3.5em;
  font-weight: bold;
}

#finished-sandwich-div {
  background-color: white;
  border: 2px solid black;
  text-align: center;
  border-radius: 10%;
  padding: 2em;
  width: 75%;
  min-height: 15em;
  margin: auto;
}

#sammie-title {
  margin-bottom: 2em;
}

#bread-div {
  margin-top: 1em;
  margin-bottom: 3em;
}

.ingredient-div {
  text-align: start;
}

.menu-checkboxes {
  border: 1px solid black;
  background-color: white;
  text-align: center;
  margin-bottom: 5em;
}

label {
  margin-left: .5em;
}
h6 {
  text-decoration: underline;
}